
.curso{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile(){
    flex-direction: column-reverse;
    text-align: center;
    &:not(:last-child){
      padding-bottom: 30px;
      border-bottom: solid 1px #cacaca;
    }
  }
  &:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
    @include mobile(){
      flex-direction: column-reverse;
      text-align: center;
    }
    .curso__type{
      margin-bottom: 10px;
      position: relative;

      &:after{
        content: '';
        width: 30px;
        height: 5px;
        border-radius:10px;
        background-color: $dev-red;
        position: absolute;
        left: initial;
        right: 0;
        bottom: -5px;
        @include mobile(){
          right: initial;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .curso__button{
    border-radius: 40px;
    padding: 10px 20px;
    background-color: $dev-red;
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 20px 20px -5px rgba(255, 43, 69, 0.2), 0 10px 10px -5px rgba(255, 43, 69, 0.04);
  }
  .curso__image{
    @include mobile(){
      max-width: 200px;
      margin: 30px auto 0;
    }
  }
  .curso__type{
    margin-bottom: 10px;
    position: relative;
    &:after{
      content: '';
      width: 30px;
      height: 5px;
      border-radius:10px;
      background-color: $dev-red;
      position: absolute;
      left: 0;
      bottom: -5px;
      @include mobile(){
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .curso__title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
    @include mobile(){
      font-size: 30px;
    }
  }
  .curso__short{
    font-size: 20px;
  }
  .curso__subtitle{
    font-size: 16px;
    color: #757575;
  }
  .curso__trainer{
    font-weight: bold;
    font-size: 14px;
    span{
      color: #757575;
    }
    img{

    }
  }
}

