.curso-top{
  margin-top: 60px;
}


.curso-title{
  font-size: 60px;
  font-weight: bold;
  @include mobile(){
    font-size: 42px;
  }
}
.curso-tipo{
  text-transform: uppercase;
  color: $dev-red;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  &:after{
    content: '';
    width: 20px;
    height: 3px;
    background-color: $dev-red;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
  }
}
.curso-short{
  font-size: 14px;
  max-width: 450px;
  display: block;
}

.curso-subtitle{
  color: #909090;
  font-size: 20px;
}

.subtitle{
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
  display: block;
  &:after{
    content: '';
    width: 30px;
    height: 5px;
    background-color: $dev-red;
    display: block;
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 5px;
    @include mobile(){
      margin-left: 0;
    }
  }
}

.inicio{
  padding: 10px;
  border: solid 1px #f1f1f1;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.1);
  background-color: #fff;
  span{
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #f1f1f1;
  }
  .num{
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;

    color: $dev-red;
  }
  .mes{
    font-size: 20px;
  }
}

.item-general{
  padding: 10px 0;
  display: flex;
  align-items: center;
  i{
    font-size: 25px;
    color: #909090;
    display: block;
    margin-right: 5px;
    width: 40px;
    text-align: center;
  }
  p{
    margin-bottom: 0;
  }
}

.btn-pdf{
  background-color: $dev-red;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  border-radius: 30px;
  margin-bottom: 20px;
  &:hover{
    color: #fff;
    filter: brightness(120%);
  }
}

.beneficios{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .beneficio-item{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border: solid 1px transparent;
    box-shadow: 0 5px 40px -10px rgba(0,0,0,.1);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all .3s;
    text-align: center;
    &:hover{

      box-shadow: 0 5px 40px rgba(0,0,0,.1);
      border: solid 1px #f1f1f1;
    }
    img{
      height: 80px;
      display: block;
    }
    span{
      display: flex;
      height: 45px;
      align-items: center;
      line-height: 18px;
    }
  }
}
.icon-pos{
  position: fixed;
  left: -200px;
  top: 30%;
  width: 450px;
  opacity: .3;
}


.docente{
  display: flex;

  .social{
    color: #909090;
    margin-top: 10px;
    display: block;
    &:hover{
      text-decoration: none;
    }
  }
  .dev-pic{
    text-align: center;
    margin-right: 10px;
    img{
      height: 100px;
      width: auto;
    }
  }
  h4{
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
  }
  strong{
    font-weight: 500;
    color: #909090;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
  }
}


.ws{
  background-color: #25d366;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 22px;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: all .3s;
  font-weight: bold;
  box-shadow:  0 20px 20px -5px rgba(37, 211, 102, 0.2), 0 10px 10px -5px rgba(37, 211, 102, 0.04);
  a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    &:hover{
      text-decoration: none;
    }
    i{
      font-size: 45px;
      transition: all .3s;
      margin-right: 10px;
      font-weight: initial;
    }
  }

}

.accordion{
  .card{
    border: none;
    background: transparent;
    .card-header{
      background: transparent;
      padding: 15px 0;
      button{
        padding: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        i{
          transform: rotate(180deg);
          transition: all .5s;
          color: $dev-black;
        }
        span{
          font-size: 18px;
          color: $dev-black;
          font-weight: 600;
          strong{
            //color: $dev-red;
          }
        }
        &[aria-expanded=true] i{
          transform: rotate(0deg);
          color: $dev-red;
        }
      }
    }

  }


}


.acordion-box{
  max-height: 100px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  &.active{
    max-height: 1000px;
    padding-bottom: 60px;
    transition: max-height 1s ease-in-out;
  }
  .more{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgb(255,255,255);
    color: $dev-red;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


.docente-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
  }
}
