.banner-principal{
  //background-image: url(../img/background.jpg);
  background-color: $dev-red;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .goto{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 25px;
    cursor: pointer;
  }
}

.banner-principal .block-red{
  position: absolute;
  background:  rgb(255, 43, 69);
  background: linear-gradient(180deg,  rgba(255, 43, 69,1) 0%,  rgba(255, 43, 69,0) 100%);
  width: 100%;
  height: 60vh;
  left: 0;
  top: 0;
  z-index: 1;
}

.banner-principal .block-blue{
  background: #212123;
  background: linear-gradient(0deg, rgba(26,26,27,1) 17%, rgba(26,26,27,0) 100%);
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
}

.curso-principal{
  //font-family: 'Zilla',serif;
  position: relative;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  color: #fff;
}
.curso-principal p{
  color: #eed10b;
  text-transform: capitalize;
  margin: 5px 0;
  font-size: 22px;
  display: inline-block;
  position: relative;
}
.curso-principal p:before{
  content: "";
  width: 15px;
  height: 2px;
  background: #eed10b;
  display: inline-block;
  position: absolute;
  bottom: 13px;
  left: -20px;
}
.curso-principal p:after{
  content: "";
  width: 15px;
  height: 2px;
  background: #eed10b;
  display: inline-block;
  position: absolute;
  bottom: 13px;
  right: -20px;
}

.curso-principal h1{
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  animation-delay: .5s;
}
.curso-principal h2{
  font-size: 30px;
  margin-bottom: 20px;
  animation-delay: 1s;
}

.curso-principal button{
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 30px;
  animation-delay: 1.5s;
}



.nosotros-section{
  background: #1a1a1b;
  //height: 500px;
  padding: 60px 0;
  img{
    @include mobile(){
      margin-top: 60px;
    }
  }
}

.nosotros-section p{
  margin: 40px 0;
  color: #fff;
}


.cursos-section{
  padding: 60px 0;
}