



.nosotros-banner{
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9ea;
  margin-top: 50px;
  h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    strong{
      color: $dev-red;
    }
  }

}

.nosotros-sec{
  padding: 60px;

}

.nosotros-title{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  margin-bottom: 40px;
  &.red{
    color: #fff;
    &:after{
      background-color: $dev-black;
    }
  }
  &.black{
    color: #fff;
  }
  &:after{
    content: '';
    width: 45px;
    height: 5px;
    border-radius:10px;
    background-color: $dev-red;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
  }
}

.vision-sec{
  padding: 60px 0;
  background-color: $dev-red;
  color: #fff;
}

.valores-sec{
  padding: 60px 0;
  background-color: $dev-black;
}

.valor-item{
  background-color: #fff;
  position: relative;
  padding: 25px;
  text-align: center;
  min-height: 310px;
  border-radius: 8px;
  .valor-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .valor-content{

  }
}

.fotos-sec{
  padding: 60px 0;
  .container{
    display: flex;
    justify-content: space-around;
  }
  .foto-item{
    max-width: 300px;
    background-color: #000;
    height: 420px;
    box-shadow: 0 25px 50px -20px rgba(0,0,0,.3);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

