@import "utilities";

.pattertwo{
  margin-bottom: -2px;
}


.footer{
  background: $dev-black;
  padding: 30px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
.footer p{
  margin: 20px 0;
}
.sociales{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sociales a{
  margin: 10px;
  color:  $dev-red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  text-decoration: none;
  border: solid 2px transparent;
  transition: all .3s;
  &:hover{
    background: $dev-red;
    color: #fff;
    border: solid 2px #fff;

  }
}

#map{
  width: 100%;
  height: 600px;
  position: relative;

  &:before{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
  &:after{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
  }
}

.ws-chat{
  background-color: #E5DDD5;
  display: none;
  width: 350px;
  height: 300px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 99;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  @include mobile(){
    width: 100%;
    max-width: 330px;
    right: 20px;
    //transform: translateX(-50%);
    //left: 50%;
  }
  .close-link{
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    i{
      font-size: 20px;
    }
  }
  .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &:after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url(../img/ws-costumer.png);
      background-size: 450px;
      background-color: #E5DDD5;
      z-index: 0;
      opacity: .1;
    }
  }

  .send{
    cursor: pointer;
    img{
      width: 25px;
      margin-left: 10px;
      display: block;
    }

  }
  .send-interna{
    cursor: pointer;
    img{
      width: 25px;
      margin-left: 10px;
      display: block;
    }

  }

  .top{
    padding: 10px;
    background-color:#EEEEEE;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    img{
      width: 45px;
      height: 45px;
      border: solid 1px #f1f1f1;
      padding: 5px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: #fff;
    }
    .info-text{
      display: flex;
      flex-direction: column;
      strong{
        font-weight: 100;
        display: block;
        line-height: 15px;
        margin-bottom: 5px;
      }
      span{
        font-weight: 100;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  .bottom{
    background-color: #EFEFEF;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    .emoticon{
      padding-right: 10px;
    }
    input{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      background-color: #ffffff;
      border-color: #fff;
      border-radius: 21px;
      line-height: 20px;
      border-style: solid;
      border-width: 1px;
      padding: 9px 12px 11px 12px;
      width: calc(100% - 35px);
      box-shadow: none;
      &:focus{
        outline: none;
      }
    }
  }
  #mensaje{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: #ffffff;
    border-color: #fff;
    border-radius: 21px;
    line-height: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 12px 12px 12px;
    width: calc(100% - 35px);
    box-shadow: none;
    resize: none;
    &:focus{
      outline: none;
    }
    @include mobile(){
      width: calc(100% - 45px);
    }
  }



}

.whatsapp-button{
  position: fixed;
  width: 60px;
  height: 60px;
  background: rgb(37,211,102);
  background: linear-gradient(0deg, rgba(37,211,102,1) 0%, rgba(168,255,99,1) 100%);
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  padding-bottom: 3px;
  padding-left: 3px;
  transition: all .4s;
  &:hover{
    color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    text-decoration: none;
  }
}


.dir{
  width: 100%;
  color: var(--devred);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transform: translateY(-50px);
  position: relative;
  z-index: 3;

}

.btn-devmaster{
  background: $dev-red;
  color: #fff;
  padding: 20px 40px;
  font-weight: bold;
  transition: all .3s;
  border-radius: 80px;
  text-transform: uppercase;
  font-size: 14px;
  &:hover{
    filter: brightness(120%);
    color: #fff;
  }
}



.btn-devmaster-light{
  @extend .btn-devmaster;
  background-color: transparent;
  padding: 20px 40px!important;
  font-weight: 400;
  font-size: 16px!important;
  &:hover{
    filter: brightness(100%);
    color: #000;
  }
}
.cards{
  padding: 60px 0;
  justify-content: center;
}



.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.3s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}
.cursos-section .card {
  transition: all .5s ;
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  margin: 20px 0;
}
.cursos-section .card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
}

.card__by {
  font-size: 14px;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.cursos-section .card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.cursos-section .card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.cursos-section .card:hover .card__info-hover {
  opacity: 1;
}


.close-button {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  z-index: 100;
  span {
      display: block;
      width: 100%;
      height: 4px;
      margin: 3px 0;
      //border-radius: 2px;
      background-color: #fff;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      transform: rotate(0);
      transform-origin: 50% 50%;
  }
  &.active{
    align-items: center;
      span{
        position: absolute;
        &:first-child{
          transform: rotate(45deg);

        }
        &:last-child{
          transform: rotate(-45deg);
          transform-origin: 50% 50%;
        }

      }
  }

}

.nav-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  align-items: center;
  padding: 20px 0;
  transition: all .3s;
  &.active{
    background-color: $dev-red;
    padding: 10px;
  }
  &.bgc{
    background-color: $dev-red;
    padding: 10px;
  }
  .logotipo{
    height: 30px;
  }
}


.menu-fullscreen{
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .9s cubic-bezier(.25,.46,.45,.94),visibility .5s,height .5s, background-color .9s;
  -o-transition: opacity .9s cubic-bezier(.25,.46,.45,.94),visibility .5s,height .5s, background-color .9s;
  transition: opacity .9s cubic-bezier(.25,.46,.45,.94),visibility .5s,height .5s, background-color .9s;
  overflow: hidden;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  .menu-principal{
    padding-left: 0;
    li{
      list-style: none;
      text-align: center;
      opacity: 0;
      a{
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        transition: all .3s;
        @include mobile(){
          font-size: 30px;
          padding: 10px 0;
          display: block;
        }
        &:hover{
          text-decoration: none;
          color: $dev-black;
        }
      }
    }
  }
  &.open{
    opacity: 1;
    visibility: visible;
    height: 100%;
    background-color: $dev-red;
  }
}


.titulo{
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  position: relative;
}
.titulo.light{
  color: $dev-black;
}
.titulo:before{
  content: "";
  background: $dev-red;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0px;
}