.banner-principal {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.banner-principal .block-red {
  position: absolute;
  background: #ff2b45;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2b45), to(rgba(255, 43, 69, 0)));
  background: -webkit-linear-gradient(top, #ff2b45 0%, rgba(255, 43, 69, 0) 100%);
  background: -o-linear-gradient(top, #ff2b45 0%, rgba(255, 43, 69, 0) 100%);
  background: linear-gradient(180deg, #ff2b45 0%, rgba(255, 43, 69, 0) 100%);
  width: 100%;
  height: 60vh;
  left: 0;
  top: 0;
  z-index: 1; }

.banner-principal .block-blue {
  background: #00002d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #00002d), to(rgba(0, 0, 45, 0)));
  background: -webkit-linear-gradient(bottom, #00002d 17%, rgba(0, 0, 45, 0) 100%);
  background: -o-linear-gradient(bottom, #00002d 17%, rgba(0, 0, 45, 0) 100%);
  background: linear-gradient(0deg, #00002d 17%, rgba(0, 0, 45, 0) 100%);
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1; }
