html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%; }

html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%; }

.pattertwo {
  margin-bottom: -2px; }

.footer {
  background: #1a1a1b;
  padding: 30px;
  text-align: center;
  color: #fff;
  margin-top: 50px; }

.footer p {
  margin: 20px 0; }

.sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sociales a {
  margin: 10px;
  color: #ff2b45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  text-decoration: none;
  border: solid 2px transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .sociales a:hover {
    background: #ff2b45;
    color: #fff;
    border: solid 2px #fff; }

#map {
  width: 100%;
  height: 600px;
  position: relative; }
  #map:before {
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: white;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0; }
  #map:after {
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0; }

.ws-chat {
  background-color: #E5DDD5;
  display: none;
  width: 350px;
  height: 300px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 99;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    .ws-chat {
      width: 100%;
      max-width: 330px;
      right: 20px; } }
  .ws-chat .close-link {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer; }
    .ws-chat .close-link i {
      font-size: 20px; }
  .ws-chat .wrap {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    .ws-chat .wrap:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url(../img/ws-costumer.png);
      background-size: 450px;
      background-color: #E5DDD5;
      z-index: 0;
      opacity: .1; }
  .ws-chat .send {
    cursor: pointer; }
    .ws-chat .send img {
      width: 25px;
      margin-left: 10px;
      display: block; }
  .ws-chat .send-interna {
    cursor: pointer; }
    .ws-chat .send-interna img {
      width: 25px;
      margin-left: 10px;
      display: block; }
  .ws-chat .top {
    padding: 10px;
    background-color: #EEEEEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1; }
    .ws-chat .top img {
      width: 45px;
      height: 45px;
      border: solid 1px #f1f1f1;
      padding: 5px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: #fff; }
    .ws-chat .top .info-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .ws-chat .top .info-text strong {
        font-weight: 100;
        display: block;
        line-height: 15px;
        margin-bottom: 5px; }
      .ws-chat .top .info-text span {
        font-weight: 100;
        font-size: 12px;
        line-height: 12px; }
  .ws-chat .bottom {
    background-color: #EFEFEF;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1; }
    .ws-chat .bottom .emoticon {
      padding-right: 10px; }
    .ws-chat .bottom input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      background-color: #ffffff;
      border-color: #fff;
      border-radius: 21px;
      line-height: 20px;
      border-style: solid;
      border-width: 1px;
      padding: 9px 12px 11px 12px;
      width: calc(100% - 35px);
      -webkit-box-shadow: none;
      box-shadow: none; }
      .ws-chat .bottom input:focus {
        outline: none; }
  .ws-chat #mensaje {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: #ffffff;
    border-color: #fff;
    border-radius: 21px;
    line-height: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 12px 12px 12px;
    width: calc(100% - 35px);
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none; }
    .ws-chat #mensaje:focus {
      outline: none; }
    @media (max-width: 768px) {
      .ws-chat #mensaje {
        width: calc(100% - 45px); } }

.whatsapp-button {
  position: fixed;
  width: 60px;
  height: 60px;
  background: #25d366;
  background: -webkit-gradient(linear, left bottom, left top, from(#25d366), to(#a8ff63));
  background: -webkit-linear-gradient(bottom, #25d366 0%, #a8ff63 100%);
  background: -o-linear-gradient(bottom, #25d366 0%, #a8ff63 100%);
  background: linear-gradient(0deg, #25d366 0%, #a8ff63 100%);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .whatsapp-button:hover {
    color: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    text-decoration: none; }

.dir {
  width: 100%;
  color: var(--devred);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  position: relative;
  z-index: 3; }

.btn-devmaster, .btn-devmaster-light {
  background: #ff2b45;
  color: #fff;
  padding: 20px 40px;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 80px;
  text-transform: uppercase;
  font-size: 14px; }
  .btn-devmaster:hover, .btn-devmaster-light:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    color: #fff; }

.btn-devmaster-light {
  background-color: transparent;
  padding: 20px 40px !important;
  font-weight: 400;
  font-size: 16px !important; }
  .btn-devmaster-light:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    color: #000; }

.cards {
  padding: 60px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0; }

.card__img--hover {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0; }

.cursos-section .card {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  margin: 20px 0; }

.cursos-section .card:hover {
  -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px; }

.card__category {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #868686; }

.card__title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700; }

.card__by {
  font-size: 14px;
  font-weight: 500; }

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52; }

.cursos-section .card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3; }

.cursos-section .card:hover .card__info {
  background-color: transparent;
  position: relative; }

.cursos-section .card:hover .card__info-hover {
  opacity: 1; }

.close-button {
  width: 35px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  z-index: 100; }
  .close-button span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 3px 0;
    background-color: #fff;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .close-button.active {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .close-button.active span {
      position: absolute; }
      .close-button.active span:first-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .close-button.active span:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%; }

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .nav-top.active {
    background-color: #ff2b45;
    padding: 10px; }
  .nav-top.bgc {
    background-color: #ff2b45;
    padding: 10px; }
  .nav-top .logotipo {
    height: 30px; }

.menu-fullscreen {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s, height 0.5s, background-color 0.9s;
  -o-transition: opacity 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s, height 0.5s, background-color 0.9s;
  transition: opacity 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s, height 0.5s, background-color 0.9s;
  overflow: hidden;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-fullscreen .menu-principal {
    padding-left: 0; }
    .menu-fullscreen .menu-principal li {
      list-style: none;
      text-align: center;
      opacity: 0; }
      .menu-fullscreen .menu-principal li a {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        @media (max-width: 768px) {
          .menu-fullscreen .menu-principal li a {
            font-size: 30px;
            padding: 10px 0;
            display: block; } }
        .menu-fullscreen .menu-principal li a:hover {
          text-decoration: none;
          color: #1a1a1b; }
  .menu-fullscreen.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    background-color: #ff2b45; }

.titulo {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  position: relative; }

.titulo.light {
  color: #1a1a1b; }

.titulo:before {
  content: "";
  background: #ff2b45;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0px; }

.banner-principal {
  background-color: #ff2b45;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner-principal .goto {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    font-size: 25px;
    cursor: pointer; }

.banner-principal .block-red {
  position: absolute;
  background: #ff2b45;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2b45), to(rgba(255, 43, 69, 0)));
  background: -webkit-linear-gradient(top, #ff2b45 0%, rgba(255, 43, 69, 0) 100%);
  background: -o-linear-gradient(top, #ff2b45 0%, rgba(255, 43, 69, 0) 100%);
  background: linear-gradient(180deg, #ff2b45 0%, rgba(255, 43, 69, 0) 100%);
  width: 100%;
  height: 60vh;
  left: 0;
  top: 0;
  z-index: 1; }

.banner-principal .block-blue {
  background: #212123;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #1a1a1b), to(rgba(26, 26, 27, 0)));
  background: -webkit-linear-gradient(bottom, #1a1a1b 17%, rgba(26, 26, 27, 0) 100%);
  background: -o-linear-gradient(bottom, #1a1a1b 17%, rgba(26, 26, 27, 0) 100%);
  background: linear-gradient(0deg, #1a1a1b 17%, rgba(26, 26, 27, 0) 100%);
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1; }

.curso-principal {
  position: relative;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  color: #fff; }

.curso-principal p {
  color: #eed10b;
  text-transform: capitalize;
  margin: 5px 0;
  font-size: 22px;
  display: inline-block;
  position: relative; }

.curso-principal p:before {
  content: "";
  width: 15px;
  height: 2px;
  background: #eed10b;
  display: inline-block;
  position: absolute;
  bottom: 13px;
  left: -20px; }

.curso-principal p:after {
  content: "";
  width: 15px;
  height: 2px;
  background: #eed10b;
  display: inline-block;
  position: absolute;
  bottom: 13px;
  right: -20px; }

.curso-principal h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.curso-principal h2 {
  font-size: 30px;
  margin-bottom: 20px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.curso-principal button {
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 30px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.nosotros-section {
  background: #1a1a1b;
  padding: 60px 0; }
  @media (max-width: 768px) {
    .nosotros-section img {
      margin-top: 60px; } }

.nosotros-section p {
  margin: 40px 0;
  color: #fff; }

.cursos-section {
  padding: 60px 0; }

.curso-top {
  margin-top: 60px; }

.curso-title {
  font-size: 60px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .curso-title {
      font-size: 42px; } }

.curso-tipo {
  text-transform: uppercase;
  color: #ff2b45;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px; }
  .curso-tipo:after {
    content: '';
    width: 20px;
    height: 3px;
    background-color: #ff2b45;
    display: block;
    margin-top: 5px;
    border-radius: 5px; }

.curso-short {
  font-size: 14px;
  max-width: 450px;
  display: block; }

.curso-subtitle {
  color: #909090;
  font-size: 20px; }

.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
  display: block; }
  .subtitle:after {
    content: '';
    width: 30px;
    height: 5px;
    background-color: #ff2b45;
    display: block;
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 5px; }
    @media (max-width: 768px) {
      .subtitle:after {
        margin-left: 0; } }

.inicio {
  padding: 10px;
  border: solid 1px #f1f1f1;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 15px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .inicio span {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #f1f1f1; }
  .inicio .num {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    color: #ff2b45; }
  .inicio .mes {
    font-size: 20px; }

.item-general {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .item-general i {
    font-size: 25px;
    color: #909090;
    display: block;
    margin-right: 5px;
    width: 40px;
    text-align: center; }
  .item-general p {
    margin-bottom: 0; }

.btn-pdf {
  background-color: #ff2b45;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  border-radius: 30px;
  margin-bottom: 20px; }
  .btn-pdf:hover {
    color: #fff;
    -webkit-filter: brightness(120%);
    filter: brightness(120%); }

.beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .beneficios .beneficio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45%;
    border: solid 1px transparent;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center; }
    .beneficios .beneficio-item:hover {
      -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
      border: solid 1px #f1f1f1; }
    .beneficios .beneficio-item img {
      height: 80px;
      display: block; }
    .beneficios .beneficio-item span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 45px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      line-height: 18px; }

.icon-pos {
  position: fixed;
  left: -200px;
  top: 30%;
  width: 450px;
  opacity: .3; }

.docente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .docente .social {
    color: #909090;
    margin-top: 10px;
    display: block; }
    .docente .social:hover {
      text-decoration: none; }
  .docente .dev-pic {
    text-align: center;
    margin-right: 10px; }
    .docente .dev-pic img {
      height: 100px;
      width: auto; }
  .docente h4 {
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px; }
  .docente strong {
    font-weight: 500;
    color: #909090;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-bottom: 10px; }

.ws {
  background-color: #25d366;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 22px;
  border-radius: 50px;
  margin-bottom: 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
  -webkit-box-shadow: 0 20px 20px -5px rgba(37, 211, 102, 0.2), 0 10px 10px -5px rgba(37, 211, 102, 0.04);
  box-shadow: 0 20px 20px -5px rgba(37, 211, 102, 0.2), 0 10px 10px -5px rgba(37, 211, 102, 0.04); }
  .ws a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 22px; }
    .ws a:hover {
      text-decoration: none; }
    .ws a i {
      font-size: 45px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      margin-right: 10px;
      font-weight: initial; }

.accordion .card {
  border: none;
  background: transparent; }
  .accordion .card .card-header {
    background: transparent;
    padding: 15px 0; }
    .accordion .card .card-header button {
      padding: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
      .accordion .card .card-header button i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        color: #1a1a1b; }
      .accordion .card .card-header button span {
        font-size: 18px;
        color: #1a1a1b;
        font-weight: 600; }
      .accordion .card .card-header button[aria-expanded=true] i {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        color: #ff2b45; }

.acordion-box {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  -o-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); }
  .acordion-box.active {
    max-height: 1000px;
    padding-bottom: 60px;
    -webkit-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out; }
  .acordion-box .more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: white;
    color: #ff2b45;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%); }
    .acordion-box .more:hover {
      text-decoration: underline;
      cursor: pointer; }

.docente-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; }
  .docente-img img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover; }

.curso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .curso {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      text-align: center; }
      .curso:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: solid 1px #cacaca; } }
  .curso:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right; }
    @media (max-width: 768px) {
      .curso:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center; } }
    .curso:nth-child(even) .curso__type {
      margin-bottom: 10px;
      position: relative; }
      .curso:nth-child(even) .curso__type:after {
        content: '';
        width: 30px;
        height: 5px;
        border-radius: 10px;
        background-color: #ff2b45;
        position: absolute;
        left: initial;
        right: 0;
        bottom: -5px; }
        @media (max-width: 768px) {
          .curso:nth-child(even) .curso__type:after {
            right: initial;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }
  .curso .curso__button {
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #ff2b45;
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 20px -5px rgba(255, 43, 69, 0.2), 0 10px 10px -5px rgba(255, 43, 69, 0.04);
    box-shadow: 0 20px 20px -5px rgba(255, 43, 69, 0.2), 0 10px 10px -5px rgba(255, 43, 69, 0.04); }
  @media (max-width: 768px) {
    .curso .curso__image {
      max-width: 200px;
      margin: 30px auto 0; } }
  .curso .curso__type {
    margin-bottom: 10px;
    position: relative; }
    .curso .curso__type:after {
      content: '';
      width: 30px;
      height: 5px;
      border-radius: 10px;
      background-color: #ff2b45;
      position: absolute;
      left: 0;
      bottom: -5px; }
      @media (max-width: 768px) {
        .curso .curso__type:after {
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); } }
  .curso .curso__title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      .curso .curso__title {
        font-size: 30px; } }
  .curso .curso__short {
    font-size: 20px; }
  .curso .curso__subtitle {
    font-size: 16px;
    color: #757575; }
  .curso .curso__trainer {
    font-weight: bold;
    font-size: 14px; }
    .curso .curso__trainer span {
      color: #757575; }

.nosotros-banner {
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff9ea;
  margin-top: 50px; }
  .nosotros-banner h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0; }
    .nosotros-banner h1 strong {
      color: #ff2b45; }

.nosotros-sec {
  padding: 60px; }

.nosotros-title {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  margin-bottom: 40px; }
  .nosotros-title.red {
    color: #fff; }
    .nosotros-title.red:after {
      background-color: #1a1a1b; }
  .nosotros-title.black {
    color: #fff; }
  .nosotros-title:after {
    content: '';
    width: 45px;
    height: 5px;
    border-radius: 10px;
    background-color: #ff2b45;
    position: absolute;
    left: 50%;
    bottom: -5px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.vision-sec {
  padding: 60px 0;
  background-color: #ff2b45;
  color: #fff; }

.valores-sec {
  padding: 60px 0;
  background-color: #1a1a1b; }

.valor-item {
  background-color: #fff;
  position: relative;
  padding: 25px;
  text-align: center;
  min-height: 310px;
  border-radius: 8px; }
  .valor-item .valor-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }

.fotos-sec {
  padding: 60px 0; }
  .fotos-sec .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .fotos-sec .foto-item {
    max-width: 300px;
    background-color: #000;
    height: 420px;
    -webkit-box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.3); }
    .fotos-sec .foto-item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
