.pattertwo {
  margin-bottom: -2px; }

.footer {
  background: var(--devred);
  padding: 30px;
  text-align: center;
  color: #fff; }

.footer p {
  margin: 20px 0; }

.sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sociales a {
  margin: 10px;
  color: var(--devred);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  text-decoration: none;
  border: solid 2px transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .sociales a:hover {
    background: var(--devred);
    color: #fff;
    border: solid 2px #fff; }

#map {
  width: 100%;
  height: 600px;
  position: relative; }
  #map:before {
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: white;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0; }
  #map:after {
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0; }

.dir {
  width: 100%;
  color: var(--devred);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  position: relative;
  z-index: 3;
  font-family: 'Zilla', serif; }

.btn-devmaster, .btn-devmaster-light {
  background: #ff2b45;
  color: #fff;
  padding: 20px 40px;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px; }
  .btn-devmaster:hover, .btn-devmaster-light:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    color: #fff; }

.btn-devmaster-light {
  background-color: transparent;
  padding: 20px 40px !important;
  font-weight: 400;
  font-size: 16px !important; }
  .btn-devmaster-light:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    color: #000; }

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 60px 0; }

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0; }

.card__img--hover {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0; }

.card {
  margin-right: 25px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-color: #fff;
  width: 25%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); }

.card:hover {
  -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px; }

.card__category {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #868686; }

.card__title {
  margin-bottom: 5px;
  font-family: 'Zilla', serif;
  font-size: 25px;
  font-weight: 700; }

.card__by {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52; }

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3; }

.card:hover .card__info {
  background-color: transparent;
  position: relative; }

.card:hover .card__info-hover {
  opacity: 1; }

.close-button {
  width: 35px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  z-index: 100; }
  .close-button span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 3px 0;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  .close-button.active {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .close-button.active span {
      position: absolute; }
      .close-button.active span:first-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .close-button.active span:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .nav-top.active {
    background-color: #ff2b45;
    padding: 10px; }
  .nav-top.bgc {
    background-color: #ff2b45;
    padding: 10px; }
  .nav-top .logotipo {
    height: 30px; }

.menu-fullscreen {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s, height 0.5s, background-color 0.9s;
  -o-transition: opacity 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s, height 0.5s, background-color 0.9s;
  transition: opacity 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s, height 0.5s, background-color 0.9s;
  overflow: hidden;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-fullscreen .menu-principal {
    padding-left: 0; }
    .menu-fullscreen .menu-principal li {
      list-style: none;
      text-align: center;
      opacity: 0; }
      .menu-fullscreen .menu-principal li a {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        font-family: 'Zilla', serif; }
        .menu-fullscreen .menu-principal li a:hover {
          text-decoration: none;
          color: #00002d; }
  .menu-fullscreen.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    background-color: #ff2b45; }
