
.item{
	background-color: #354650;
	margin-bottom: 30px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	color: #fff;
	text-decoration: none;
	transition: all .5s;
}
.item:hover{
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	text-decoration: none;
	color: #fff;
	background-color: #384d57;
}
.item:active{
	transform:scale(0.95,0.95);
}
.item .icono {
	font-size: 50px;
	text-align: center;
	margin: 20px 0 0 0;
}
.item .nom{
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
}